version: "3.9"

networks:
  node_mysql_net:
    driver: bridge
  node_nginx_net:
    driver: bridge

services:
    dck_srv_node:
        tty: true
        env_file: .env
        image: node_alpine_image
        build:
            context: ./node_app_folder
            dockerfile: ./Dockerfile.node
        container_name: ${NODE_APP_SERVER_HOST}
        ports:
            - ${NODE_APP_SERVER_PORT}:${NODE_APP_SERVER_PORT}
        networks:
        - node_mysql_net
        - node_nginx_net
        depends_on:
            dck_srv_mysql:
                condition: service_healthy

    dck_srv_nginx:
        tty: true
        env_file: .env
        image: nginx_alpine_image
        restart: always
        build:
            context: ./nginx_folder
            dockerfile: ./Dockerfile.nginx
        container_name: ${NGINX_SRV_HOST}
        networks:
        - node_nginx_net
        ports:
            - ${NGINX_SRV_PORT}:${NGINX_SRV_PORT}

    dck_srv_mysql: 
        tty: true
        env_file: .env
        image: mysql:latest
        command: --innodb-use-native-aio=0
        container_name: ${MYSQL_SRV_HOST}
        restart: always
        volumes: 
        - ./mysql_folder:/var/lib/mysql
        environment:
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
            interval: 3s
            timeout: 10s
            retries: 5
        networks:
        - node_mysql_net